{% extends 'main.html' %}

{% block content %}
<h1> {{user.username}} </h1>
<style>
    .profile-container{
        display:grid;
        grid-template-columns: 1fr 3fr 1fr; /*1 fraction and 3 fraction*/
    }
</style>

<div class="profile-container">
<div><!--Side Bar-->
    {% include 'base/topics_component.html' %}
    <!-- Moved to topics_compoenent.html-->
    

</div>
<!-- {% include "navbar.html" %} -->

<div><!-- Profile Area-->
    {% include 'base/feed_component.html' %}
    <!-- Moved to topics_compoenent.html-->
    

</div>
<div><!-- Activity Feed-->
    {% include 'base/activity_component.html' %}
    <!-- Moved to activity_compoenent.html
</div>
</div>



{% endblock content %}